{% extends 'base.html' %}

{% block content %}

{% load static %}
<main id="main">
  <div class="container">
    <section id="portfolio" class="layout-wrapper">
        <div class="gallery-display">
         <h2>Our Gallery</h2>
         <div class="row">
            <div class="isotopeContainer">
              <div class="isotopeSelector col-xs-10 col-xs-offset-1 col-sm-4  col-sm-offset-0 col-md-3">
                  <article>

                      <figure>
                          <img class="img img-responsive" src="{% static 'images/gallery/s/sand.jpg' %}" alt="alt ni">
                          <div class="overlay-background">
                              <div class="inner"></div>
                          </div>
                          <div class="overlay">
                              <div class="inner-overlay">
                                  <div class="inner-overlay-content with-icons">
                                      <a title="Enter Custom Text Here..." class="fancybox-pop" rel="server-validation" href="{% static 'images/gallery/b/sand.jpg' %}" target="_blank"><i class="fa fa-search"></i></a>
                                      <a href="#" title="Enter Custom Title"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </figure>

                  </article>
              </div>

              <div class="isotopeSelector col-xs-10 col-xs-offset-1 col-sm-4  col-sm-offset-0 col-md-3">
                  <article>

                      <figure>
                          <img class="img img-responsive" src="{% static 'images/gallery/s/shoes.jpg' %}" alt="alt ni">
                          <div class="overlay-background">
                              <div class="inner"></div>
                          </div>
                          <div class="overlay">
                              <div class="inner-overlay">
                                  <div class="inner-overlay-content with-icons">
                                      <a title="Enter Custom Text Here..." class="fancybox-pop" rel="server-validation" href="{% static 'images/gallery/b/shoes.jpg' %}" target="_blank"><i class="fa fa-search"></i></a>
                                      <a href="#" title="Enter Custom Title"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </figure>


                  </article>
              </div>

              <div class="isotopeSelector col-xs-10 col-xs-offset-1 col-sm-4  col-sm-offset-0 col-md-3">
                  <article>

                      <figure>
                          <img class="img img-responsive" src="{% static 'images/gallery/s/poster.jpg' %}" alt="alt ni">
                          <div class="overlay-background">
                              <div class="inner"></div>
                          </div>
                          <div class="overlay">
                              <div class="inner-overlay">
                                  <div class="inner-overlay-content with-icons">
                                      <a title="Enter Custom Text Here..." class="fancybox-pop" rel="server-validation" href="{% static 'images/gallery/b/poster.jpg' %}" target="_blank"><i class="fa fa-search"></i></a>
                                      <a href="#" title="Enter Custom Title"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </figure>



                   </article>
              </div>

              <div class="isotopeSelector col-xs-10 col-xs-offset-1 col-sm-4  col-sm-offset-0 col-md-3">
                  <article>

                      <figure>
                          <img class="img img-responsive" src="{% static 'images/gallery/s/portrait.jpg' %}" alt="alt ni">
                          <div class="overlay-background">
                              <div class="inner"></div>
                          </div>
                          <div class="overlay">
                              <div class="inner-overlay">
                                  <div class="inner-overlay-content with-icons">
                                      <a title="Enter Custom Text Here..." class="fancybox-pop" rel="server-validation" href="{% static 'images/gallery/b/portrait.jpg' %}" target="_blank"><i class="fa fa-search"></i></a>
                                      <a href="#" title="Enter Custom Title"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </figure>


                  </article>
              </div>

              <div class="isotopeSelector col-xs-10 col-xs-offset-1 col-sm-4  col-sm-offset-0 col-md-3">
                  <article>

                      <figure>
                          <img class="img img-responsive" src="{% static 'images/gallery/s/lions.jpg' %}" alt="alt ni">
                          <div class="overlay-background">
                              <div class="inner"></div>
                          </div>
                          <div class="overlay">
                              <div class="inner-overlay">
                                  <div class="inner-overlay-content with-icons">
                                      <a title="Enter Custom Text Here..." class="fancybox-pop" rel="server-validation" href="{% static 'images/gallery/b/lions.jpg' %}" target="_blank"><i class="fa fa-search"></i></a>
                                      <a href="#" title="Enter Custom Title"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </figure>


                  </article>
              </div>

              <div class="isotopeSelector col-xs-10 col-xs-offset-1 col-sm-4  col-sm-offset-0 col-md-3">
                  <article>
                       <figure>
                          <img class="img img-responsive" src="{% static 'images/gallery/s/ladybug.jpg' %}" alt="alt ni">
                          <div class="overlay-background">
                              <div class="inner"></div>
                          </div>
                          <div class="overlay">
                              <div class="inner-overlay">
                                  <div class="inner-overlay-content with-icons">
                                      <a title="Enter Custom Text Here..." class="fancybox-pop" rel="server-validation" href="{% static 'images/gallery/b/ladybug.jpg' %}" target="_blank"><i class="fa fa-search"></i></a>
                                      <a href="#" title="Enter Custom Title"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </figure>
                  </article>
              </div>

              <div class="isotopeSelector col-xs-10 col-xs-offset-1 col-sm-4  col-sm-offset-0 col-md-3">
                  <article>

                    <figure>
                        <img class="img img-responsive" src="{% static 'images/gallery/s/iguana.jpg' %}" alt="alt ni">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="Enter Custom Text Here..." class="fancybox-pop" rel="server-validation" href="{% static 'images/gallery/b/iguana.jpg' %}" target="_blank"><i class="fa fa-search"></i></a>
                                    <a href="#" title="Enter Custom Title"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>

                  </article>
              </div>


              <div class="isotopeSelector col-xs-10 col-xs-offset-1 col-sm-4  col-sm-offset-0 col-md-3">
                  <article>

                       <figure>
                          <img class="img img-responsive" src="{% static 'images/gallery/s/guinea.jpg' %}" alt="alt ni">
                          <div class="overlay-background">
                              <div class="inner"></div>
                          </div>
                          <div class="overlay">
                              <div class="inner-overlay">
                                  <div class="inner-overlay-content with-icons">
                                      <a title="Enter Custom Text Here..." class="fancybox-pop" rel="server-validation" href="{% static 'images/gallery/b/guinea.jpg' %}" target="_blank"><i class="fa fa-search"></i></a>
                                      <a href="#" title="Enter Custom Title"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </figure>

                  </article>
              </div>

              <div class="isotopeSelector col-xs-10 col-xs-offset-1 col-sm-4  col-sm-offset-0 col-md-3">
                  <article>

                       <figure>
                          <img class="img img-responsive" src="{% static 'images/gallery/s/feet.jpg' %}" alt="alt ni">
                          <div class="overlay-background">
                              <div class="inner"></div>
                          </div>
                          <div class="overlay">
                              <div class="inner-overlay">
                                  <div class="inner-overlay-content with-icons">
                                      <a title="Enter Custom Text Here..." class="fancybox-pop" rel="server-validation" href="{% static 'images/gallery/b/feet.jpg' %}" target="_blank"><i class="fa fa-search"></i></a>
                                      <a href="#" title="Enter Custom Title"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </figure>

                   </article>
              </div>

              <div class="isotopeSelector col-xs-10 col-xs-offset-1 col-sm-4  col-sm-offset-0 col-md-3">
                  <article>

                   <figure>
                          <img class="img img-responsive" src="{% static 'images/gallery/s/dog.jpg' %}" alt="alt ni">
                          <div class="overlay-background">
                              <div class="inner"></div>
                          </div>
                          <div class="overlay">
                              <div class="inner-overlay">
                                  <div class="inner-overlay-content with-icons">
                                      <a title="Enter Custom Text Here..." class="fancybox-pop" rel="server-validation" href="{% static 'images/gallery/b/dog.jpg' %}" target="_blank"><i class="fa fa-search"></i></a>
                                      <a href="#" title="Enter Custom Title"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </figure>

                  </article>
              </div>

              <div class="isotopeSelector col-xs-10 col-xs-offset-1 col-sm-4  col-sm-offset-0 col-md-3">
                  <article>

                       <figure>
                          <img class="img img-responsive" src="{% static 'images/gallery/s/spin.jpg' %}" alt="alt ni">
                          <div class="overlay-background">
                              <div class="inner"></div>
                          </div>
                          <div class="overlay">
                              <div class="inner-overlay">
                                  <div class="inner-overlay-content with-icons">
                                      <a title="Enter Custom Text Here..." class="fancybox-pop" rel="server-validation" href="{% static 'images/gallery/b/spin.jpg' %}" target="_blank"><i class="fa fa-search"></i></a>
                                      <a href="#" title="Enter Custom Title"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </figure>

                   </article>
              </div>

              <div class="isotopeSelector col-xs-10 col-xs-offset-1 col-sm-4  col-sm-offset-0 col-md-3">
                  <article>

                   <figure>
                          <img class="img img-responsive" src="{% static 'images/gallery/s/sunset.jpg' %}" alt="alt ni">
                          <div class="overlay-background">
                              <div class="inner"></div>
                          </div>
                          <div class="overlay">
                              <div class="inner-overlay">
                                  <div class="inner-overlay-content with-icons">
                                      <a title="Enter Custom Text Here..." class="fancybox-pop" rel="server-validation" href="{% static 'images/gallery/b/sunset.jpg' %}" target="_blank"><i class="fa fa-search"></i></a>
                                      <a href="#" title="Enter Custom Title"><i class="fa fa-link"></i></a>
                                  </div>
                              </div>
                          </div>
                      </figure>

                  </article>
              </div>

            </div><!-- .isotopeContainer -->
          </div><!-- .row -->
      </div><!-- .gallery-display -->
      </section><!-- #portfolio .layout-wrapper-->


    <!-- services-testimonials.html -->
    {% include '../includes/services-testimonials.html' %}

  </div><!-- .container -->
</main><!-- #main -->

  <!-- sidebar.html -->
{% include '../includes/sidebar.html' %}


{% endblock %}
