<aside id="secondary" class="widget-wrapper">
    <div class="container">
        <div class="row">
          <div class="col-md-4 white-color">
            <p>Checkout our social media account! mauris at consectetur dictum, leo erat vehicula risus, fermentum rutrum est tortor faucibus urna.</p>
            <ul class="list-unstyled social-list social-navigation">
                <li>
                    <a href="http://instagram.com" target="_blank">
                      <span class="screen-reader-text">instagram</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/aljunmojo" target="_blank">
                      <span class="screen-reader-text">twitter</span>
                    </a>
                  </li>
                  <li>
                    <a href="http://youtube.com" target="_blank">
                      <span class="screen-reader-text">youtube</span>
                    </a>
                  </li>
                   <li>
                    <a href="https://github.com/jun20" target="_blank">
                      <span class="screen-reader-text">github</span>
                    </a>
                  </li>
            </ul>
          </div><!-- .col -->
          <div class="col-md-4">
            <h3 class="white-color">Menu Links</h3>
            <ul class="list-unstyled">
              <li><a href="#" class="white-color">Home</a></li>
              <li><a href="#" class="white-color">About</a></li>
              <li><a href="#" class="white-color">Gallery</a></li>
              <li><a href="#" class="white-color">Contact</a></li>
            </ul>
          </div><!-- .col -->
          <div class="col-md-4">
            <h3 class="white-color">Subscribe Our Newsletter</h3>
            <p><small class="white-color">No spam period.</small></p>
            <form action="" method="post">

              <div class="input-group">
                 <input type="email" class="btn btn-lg btn-ui full-width" name="newsletteremail" id="newsletteremail" placeholder="Your Email" required>
                 <button class="btn btn-info btn-lg btn-ui full-width" type="submit">Sign up</button>
              </div>


            </form>
          </div><!-- .col -->
        </div><!-- row -->
    </div>
</aside>