<div class="top-bar-mobile row">

  <div class="mobile-navigation-wrapper">
    <ul>
        <li>
            <a href="index.html" title="Home">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              Home
            </a>
        </li>
        <li>
            <a href="gallery.html" title="Gallery">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
              Gallery
            </a>
        </li>
        <li>
            <a href="tel:1234567890">
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
              1234567890
            </a>
        </li>
    </ul>
  </div><!-- .mobile-navigation-wrapper -->


    <div class="toggle-wrapper">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
           <span class="glyphicon glyphicon-menu-hamburger white-color font-size-24" aria-hidden="true"></span>

      </button>
          <!--    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><?php //esc_html_e( 'Primary Menu', 'mojoservices' ); ?></button>    -->
    </div><!-- .toggle-wrapper -->

</div><!--  .top-bar-mobile-->
